// button style

.addonify-overlay-buttons {

    position: relative;
}

.addonify-overlay-buttons .addonify-overlay-btn-wrapper {

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111111;
    @include transation_delay();
}

button.addonify-cp-button.selected {

    border: solid 2px #000;
}