
// modal

#addonify-compare-modal-overlay,
#addonify-compare-search-modal-overlay {

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
}

// search modal

#addonify-compare-search-modal {

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999991;
}

.addonify-compare-search-model-inner {

	position: relative;
    width: 400px;
    height: 400px;
    padding: 30px 10px;
    background-color: #fff;
    @include border-radius(5px);
    @include drop_shadow();
}

.addonify-compare-search-head {

    position: relative;
}

#addonify-compare-search-close-button {

    position: absolute;
    right: 0;
    top: 0px;
    padding: 2px;
    line-height: 1;
}

.addonify-compare-search-modal-content {

    padding: 15px;
}

#addonify-compare-search-query {

    width: 100%;
    padding: 10px;
    font-size: 16px;
    border:1px solid #e4e4e4;
    box-shadow: none;
    @include border-radius(3px);
}

#addonify-compare-search-results {

    padding-top: 15px;
    overflow-y: auto;
    height: 328px;

    &.loading{

        background: url( ../../images/search.gif) no-repeat center;
        min-height: 325px;
    }

    ul{
        margin: 0;
        padding: 0;
    }

    li{
        list-style: none;
        overflow: hidden;
        border-bottom: solid 1px #eee;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    li:last-child{
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .item{
        img.item-image{
            width: 48px;
            height: 48px;
            float: left;
            margin-right: 10px;
        }

        .item-name{
            font-size: 18px;
            padding-top: 11px;
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .item-add{
            text-align: center;
            float: right;
            width: 32px;
            height: 32px;
            margin-top: 8px;
            text-align: center;
            color: #222;
            background-color: #f2f2f2;
            cursor: pointer;

            span{
                line-height: 31px;
            }
        }
    }
}


// main display modal

#addonify-compare-modal {

    position: fixed;
    left: 40px;
    top: 40px;
    right: 40px;
    bottom: 40px;
    background: #ffffff;
    z-index: 9999992;
}

.addonify-compare-model-inner {

    position: relative;
}

#addonify-compare-close-button {

    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}

// compare table contents

#addonify-compare-products-table th,
#addonify-compare-products-table td {

    padding: 15px 15px;
    max-width: 400px;
    min-width: 200px;
}


#addonify-compare-modal-content {

    height: calc(100vh - 80px);
    overflow: auto;
}

.acp-field-title {

    font-weight: bold;
}

.addonify-footer-remove {

    margin-left: 15px;

    button {
        padding: 0px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
}


