/* -------------------------------------------------------------------------- 
	Overlay
  -------------------------------------------------------------------------- */

#addonify-compare-modal-overlay,
#addonify-compare-search-modal-overlay {

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

/* -------------------------------------------------------------------------- 
	Search modal box
  -------------------------------------------------------------------------- */

#addonify-compare-search-modal {

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999;
    background-color: white;
    border-radius: 5px;
    @include drop_shadow();
}

.addonify-compare-search-model-inner {

	position: relative;
    max-width: 100%;
    width: 600px;
    height: 450px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
}

.addonify-compare-search-head {

    position: relative;
}

#addonify-compare-search-close-button {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -30px;
    top: -30px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    color: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    background-color: transparent;
    border-radius: 100%;
    z-index: 999999999;
    text-decoration: none;
    box-shadow: none;

    svg {

        width: 14px;
        height: 14px;
    }

    &:hover {

        fill: white;
        color: white;
        border-color: white;
        text-decoration: none;
        box-shadow: none;
    }

    &:focus {

        outline: none;
        box-shadow: none;
    }
}

#addonify-compare-search-query {

    @include flex();
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #EEE;
    border-radius: 4px;
    box-shadow: inset 1px 1px 3px transparent;

    &:focus {

        outline: none;
        border-color: #3da6ff;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
}

#addonify-compare-search-results {

    margin: 20px 0 0 0;
    height: 320px;
    overflow: hidden;
    overflow-y: auto;

    &.loading {

        background: url( ../../images/search.gif) no-repeat center;
        min-height: 325px;
    }

    ul {
        margin: 0;
        padding: 0 10px 0 0;
    }

    li {

        @include flex();
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        list-style: none;
        overflow: hidden;
        border-bottom: solid 1px #F5F5F5;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    li:last-child {

        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .item {

        @include flex();
        align-items: center;
        gap: 10px;

        img {

            display: inline-flex;
            width: 42px;
            height: 42px;
        }

        .item-name {

            font-size: 14px;
            font-weight: normal;
            line-height: 1.3;
            letter-spacing: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .item-add {

        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        text-align: center;
        color: #444444;
        fill: #444444;
        background-color: #EEEEEE;
        cursor: pointer;
        border-radius: 3px;
        transition: all 0.5s ease;

        svg {

            width: 13px;
            height: 13px;
        }

        &:hover {

            color: white;
            fill: white;
            background-color: #444444;
        }
    }
}

/* -------------------------------------------------------------------------- 
	Compare modal box [Compare table]
  -------------------------------------------------------------------------- */

#addonify-compare-modal {

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 40px;
    width: auto;
    height: auto;
    z-index: 9999992;
    overflow: hidden;
    border-radius: 5px;

    .addonify-compare-model-inner  {

        position: relative;
        max-width: 100%;

        #addonify-compare-close-button {

            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: auto;
            right: 20px;
            top: 5px;
            height: 30px;
            width: 30px;
            padding: 0;
            margin: 0;
            border-radius: 3px;
            z-index: 10;

            svg {

                width: 14px;
                height: 14px;
            }

            &:hover {


            }
        }

        #addonify-compare-modal-content {

            position: relative;
            display: block;
            margin: 0 auto;
            width: 100%;
            height: calc( 100vh - 100px );
            background-color: white;
            border-radius: 5px;
            overflow: hidden;
            overflow-y: auto;

            #addonify-compare-products-table-wrapper {

                padding: 30px;

                 #addonify-compare-products-table {

                    display: table;
                    table-layout: auto;
                    border-collapse: collapse;
                    margin: 0;
                    padding: 0;
                    overflow: auto;

                    th,
                    td {

                        padding: 15px 15px;
                        max-width: 400px;
                        min-width: 200px;
                        vertical-align: middle;
                        text-align: left;
                    }

                    td {

                        .price {

                            display: inline-flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            align-items: center;
                            font-size: 16px;
                            color: #444444;
                            font-weight: bold;
                            margin-bottom: 0;

                            ins {

                                display: inline-flex;
                                font-weight: bold;
                                color: red;
                                background-color: transparent;
                            }

                            del {

                                display: inline-flex;
                                margin-right: 5px;
                                font-size: 13px;
                                color: #444444;
                                opacity: 0.8;
                            }
                        }

                        .star-rating {

                            float: left;
                        }

                        .add_to_cart_inline {

                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}