/* -------------------------------------------------------------------------- 
	Compare page
  -------------------------------------------------------------------------- */

#addonify-compare-products-table {

    display: table;
    table-layout: auto;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    overflow: auto;

        th,
        td {

            padding: 15px 15px;
            max-width: 400px;
            min-width: 200px;
            vertical-align: middle;
            text-align: left;
            border-color: #F5F5F5;
        }

        th {

            background-color: #F5F5F5;
        }

        td {

            .price {

                display: inline-flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                font-size: 16px;
                color: #444444;
                font-weight: bold;
                margin-bottom: 0;

                ins {

                    display: inline-flex;
                    font-weight: bold;
                    color: red;
                    background-color: transparent;
                }

                del {

                    display: inline-flex;
                    margin-right: 5px;
                    font-size: 13px;
                    color: #444444;
                    opacity: 0.8;
                }
            }

        .star-rating {

            float: left;
        }

        .add_to_cart_inline {

            margin-bottom: 0;
        }
    }

     tbody {

        tr {

            td:first-child {

                background-color: #F5F5F5;
            }
        }
    }
}