$bck_color: rgb(41, 42, 48);
$padding: 15px;
$thumbnail_height : 48px;

button.addonify-cp-button.selected{
    border: solid 2px #000;
}

#addonify-compare-footer{
    position: fixed;
    bottom: 0;
    background: $bck_color;
    padding: $padding;
    left: 0;
    right: 0;
    transition: 0.4s;
    z-index: 9999991;
    display: none;
}

.hidden{
    display: none;
}

body.addonify-compare-footer-is-visible{
    #addonify-compare-footer{
        display: block;
    }
}

#addonify-compare-footer-message{
    float: left;
    color: #9c9c9c;
    padding-top: 12px;
}

#addonify-compare-footer-inner, #addonify-footer-thumbnails{
    float: right;
    overflow: hidden;
    height: 100%;
}

#addonify-footer-thumbnails{
    float: left;
}

.addonify-footer-components{
    float: left;
    margin-left: 10px;

    img{
        height: 100%;
        width: 100%;
    }

    button{
        height: $thumbnail_height;
    }
}

.addonify-footer-thumbnail{
    position:relative;
    cursor: pointer;
    width: $thumbnail_height;
    height: $thumbnail_height;
    background: #3c3c3c;
    border-radius: 2px;
}

.addonify-footer-thumbnail.loading{
    background-image: url(../../images/loading-dots.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.addonify-footer-remove{
    top: 2px;
    right: 2px;
    width: 12px;
    height: 12px;
    position: absolute;
    background-image: url(../../images/remove.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #292a30;
    z-index: 7;
    border-radius: 1px;
}

#addonify-footer-add{
    width: $thumbnail_height;
    height: $thumbnail_height;
    display: block;
    position: relative;
    background-color: #3c3c3c;
    background-image: url(../../images/add.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
}

.addonify-footer-settings{
    width: $thumbnail_height;
    height: $thumbnail_height;
    display: block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../images/checkbox.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
}


// search modal
#addonify-compare-search-modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #{$bck_color}ed;
    z-index: 9999991;
}

.addonify-compare-search-model-inner{
    width: 360px;
    height: 400px;

    // height: calc(100vh - ( #{$thumbnail_height} + #{$padding} + #{$padding} ) - #{$padding} );

    background: #fff;
    margin: calc( (100vh - 400px - ( #{$thumbnail_height} + #{$padding} + #{$padding} ) ) / 2 ) auto 0;
    position: relative;
    border-radius: 3px;
}

.addonify-compare-search-head{
    position: relative;
}

#addonify-compare-search-close-button{
    position: absolute;
    right: 0;
    top: -30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 100%;
    background: none;
    border: 0;
    padding: 0;
    color: #fff;
}

.addonify-compare-search-modal-content{
    padding: 15px;
}

#addonify-compare-search-query{
    width: 100%;
    border: solid 1px #000;
    padding: 10px;
    font-size: 16px;
}


#addonify-compare-search-results{
    padding-top: 15px;
    overflow-y: auto;
    height: 328px;


    &.loading{
        background: url( ../../images/search.gif) no-repeat center;
        min-height: 325px;
    }

    ul{
        margin: 0;
        padding: 0;
    }

    li{
        list-style: none;
        overflow: hidden;
        border-bottom: solid 1px #eee;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    li:last-child{
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .item{
        img.item-image{
            width: 48px;
            height: 48px;
            border-radius: 2px;
            float: left;
            margin-right: 10px;
        }

        .item-name{
            font-size: 18px;
            padding-top: 11px;
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .item-add{
            text-align: center;
            float: right;
            width: 32px;
            height: 32px;
            margin-top: 8px;
            text-align: center;
            color: #222;
            background-color: #f2f2f2;
            cursor: pointer;

            span{
                line-height: 31px;
            }
        }
    }
}



// main display modal
#addonify-compare-modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $bck_color;
    z-index: 999999;
}

.addonify-compare-model-inner{
    width: calc( 100% - ( #{$padding} + #{$padding} ) );
    height: calc(100vh - ( #{$thumbnail_height} + #{$padding} + #{$padding} ) - #{$padding} );
    margin: $padding auto 0;
    background: #fff;
    position: relative;
}

#addonify-compare-close-button{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}