/* -------------------------------------------------------------------------- 
	Compare Footer
  -------------------------------------------------------------------------- */

.addonify-compare-hidden {

    display: none;
}

#addonify-compare-dock {

	display: none;
    position: fixed;
    top: auto;
    bottom: 10px;
    right: auto;
    left: 50%;
    width: auto;
    min-width: 600px;
    max-width: 95vw;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: var(--adfy_compare_products_dock_bg_color);
    z-index: var(--adfy_compare_products_dock_zindex);
    transform: translateX(-50%);
    @include transitionDelay();
}

.addonify-compare-dock-is-visible #addonify-compare-dock {

    @include flex();
	align-items: center;
}

#addonify-compare-dock-message {

    color: var(--adfy_compare_products_dock_text_color);
    margin-right: 15px;
}

#addonify-compare-dock-thumbnails,
#addonify-compare-dock-inner {

    overflow: hidden;
    height: 100%;
}

#addonify-compare-dock-inner {

	@include flex();
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#addonify-compare-dock-thumbnails {

    @include flex();
    gap: 10px;
    align-items: center;
}

.addonify-compare-dock-components img {

	height: 100%;
    width: 100%;
    border-radius: 2px;
    @include mediumBoxShadow();
}

.addonify-compare-dock-components button {

	height: var(--adfy_compare_products_thumbnail_height);
    padding: 0 20px;
	border: none;
	font-weight: normal;
	font-size: 15px;
	border-radius: 2px;
}

.addonify-compare-dock-thumbnail {

    position: relative;
    cursor: move;
    width: var(--adfy_compare_products_thumbnail_height);
    height: var(--adfy_compare_products_thumbnail_height);
    background: #3C3C3C;
}

.addonify-compare-dock-thumbnail:hover .addonify-compare-dock-remove-item-btn {

	display: block;
}

.addonify-compare-dock-thumbnail.loading {

    background-image: url(../../images/loading-dots.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.addonify-compare-dock-remove-item-btn {

    cursor: pointer;
    top: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

#addonify-compare-dock-add-item {

    width: var(--adfy_compare_products_thumbnail_height);
    height: var(--adfy_compare_products_thumbnail_height);
    display: block;
    position: relative;
    background-color: #3c3c3c;
    border-radius: 3px;

    svg {

        height: 14px;
        width: 14px;
    }

    &:hover {

        text-decoration: none;
        box-sizing: none;
        border: none
    }

    &:focus {

        outline: none;
    }
}

.addonify-compare-dock-settings {

    width: var(--adfy_compare_products_thumbnail_height);
    height: var(--adfy_compare_products_thumbnail_height);
    display: block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../images/checkbox.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
}