/* -------------------------------------------------------------------------- 
	General
  -------------------------------------------------------------------------- */

.addonify-compare-disable-scroll {

    overflow: hidden;
}

/* -------------------------------------------------------------------------- 
	Overlay
  -------------------------------------------------------------------------- */

#addonify-compare-modal-overlay,
#addonify-compare-search-modal-overlay {

    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    backdrop-filter: blur(10px);
    background-color: var(--adfy_compare_products_search_modal_overlay_bg_color);
    z-index: var(--adfy_compare_products_search_modal_overlay_zindex);
    @include visibilityVisible();
    @include transitionDelay();
}

#addonify-compare-modal-overlay {
    
    background-color: var(--adfy_compare_products_comparison_modal_overlay_bg_color);
}

#addonify-compare-modal-overlay.addonify-compare-hidden,
#addonify-compare-search-modal-overlay.addonify-compare-hidden {

    @include visibilityHidden();
}


/* -------------------------------------------------------------------------- 
	Search modal box
  -------------------------------------------------------------------------- */

#addonify-compare-search-modal {

    position: fixed;
    @include positionTopLeft();
    width: 600px;
    height: 450px;
    z-index: var(--adfy_compare_products_search_modal_zindex);
    background-color: var(--adfy_compare_products_search_modal_bg_color);
    border-radius: 10px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    @include breakpoint(ipad) {

        width: 90vw;
    }
}

.addonify-compare-search-model-inner {

	position: relative;
    max-width: 100%;
    padding: 20px;
    @include breakpoint(mobile) {

        padding: 20px;
    }
}

.addonify-compare-search-head {

    position: relative;
}

#addonify-compare-search-close-button {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -12px;
    top: -12px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: var(--adfy_compare_products_search_modal_close_button_color);
    fill: var(--adfy_compare_products_search_modal_close_button_color);
    border: none;
    background: transparent;
    background-color: var(--adfy_compare_products_search_modal_close_button_bg_color);
    border-radius: 100%;
    z-index: 10;
    box-shadow: none;
    text-decoration: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    @include transitionDelay();

    svg {

        width: 14px;
        height: 14px;
    }

    &:hover {

        fill: var(--adfy_compare_products_search_modal_close_button_color_hover);
        color: var(--adfy_compare_products_search_modal_close_button_color_hover);
        border-color: none;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        background: transparent;
        background-color: var(--adfy_compare_products_search_modal_close_button_bg_color_hover);
    }

    &:focus {

        outline: none;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }
}

.addonify-compare-search-modal-content {

    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */

        color: var(--adfy_compare_products_search_modal_search_input_placeholder_color);
        opacity: 1; /* Firefox */
        font-size: 14px;
        font-weight: normal;
    }

    input:-ms-input-placeholder { /* Internet Explorer 10-11 */

        color: var(--adfy_compare_products_search_modal_search_input_placeholder_color);
        font-size: 14px;
        font-weight: normal;
    }

    input::-ms-input-placeholder { /* Microsoft Edge */

        color: var(--adfy_compare_products_search_modal_search_input_placeholder_color);
        font-size: 14px;
        font-weight: normal;
    }

    #addonify-compare-search-query {

        @include flex();
        align-items: center;
        width: 100%;
        max-width: 100%;
        font-size: 15px;
        font-weight: normal;
        line-height: 21px;
        color: var(--adfy_compare_products_search_modal_search_input_text_color);
        padding: 14px 15px;
        height: 48px;
        border-width: 2px;
        border-style: solid;
        background: none;
        background-color: var(--adfy_compare_products_search_modal_search_input_bg_color);
        border-color: var(--adfy_compare_products_search_modal_search_input_border_color);
        box-shadow: none;
        box-sizing: border-box;
        border-radius: 8px;
        @include transitionDelay();
    }

    #addonify-compare-search-results {

        position: relative;
        margin: 20px 0 0 0;
        height: 320px;
        overflow: hidden;
        overflow-y: auto;

        .spinner-icon {

            display: none;
            fill: var(--adfy_compare_products_search_modal_spinner_color);
            color: var(--adfy_compare_products_search_modal_spinner_color);
            animation: addonifyCompareSpinner 1.2s infinite linear;
            line-height: 1;
            height: 32px;
            height: 32px;

            svg {

                display: inline-flex;
                width: 32px;
                height: 32px;
                line-height: 1;
            }
        }

        &.loading {

            @include flex();
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .spinner-icon {

                display: inline-flex;
            }
        }

        ul {

            @include flex();
            flex-direction: column;
            gap: 20px;
            margin: 0;
            padding: 0 10px 0 0;
            list-style: none;
        }

        li {

            @include flex();
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            list-style: none;
            overflow: hidden;
            color: var(--adfy_compare_products_search_modal_text_color);
            border-bottom: solid 1px var(--adfy_compare_products_search_modal_separator_color);
            margin: 0;
            padding-bottom: 15px;
        }

        li:last-child {

            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .item {

            @include flex();
            align-items: center;
            gap: 10px;

            img {

                display: inline-flex;
                width: 42px;
                height: 42px;
                border-radius: 3px;
            }

            .item-name {

                .product-title {

                    margin: 0;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.3;
                    letter-spacing: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .item-add {

            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            font-weight: normal;
            line-height: 1;
            text-align: center;
            color: var(--adfy_compare_products_search_modal_add_button_color);
            fill: var(--adfy_compare_products_search_modal_add_button_color);
            background: transparent;
            background-color: var(--adfy_compare_products_search_modal_add_button_bg_color);
            cursor: pointer;
            border: none;
            box-shadow: none;
            border-radius: 3px;
            @include transitionDelay();

            svg {

                display: inline-flex;
                width: 14px;
                height: 14px;
                line-height: 1;
            }

            &:hover {

                color: var(--adfy_compare_products_search_modal_add_button_color_hover);
                fill: var(--adfy_compare_products_search_modal_add_button_color_hover);
                background: transparent;
                background-color: var(--adfy_compare_products_search_modal_add_button_bg_color_hover);
                box-shadow: none;
                border: none;
            }
        }
    }
}

/* -------------------------------------------------------------------------- 
	Compare modal box [Compare table]
  -------------------------------------------------------------------------- */

#addonify-compare-close-button {

    display: none; // Hide the button on comparison page.
    justify-content: center;
    align-items: center;
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    height: auto;
    width: auto;
    padding: 10px 20px;
    margin: 0;
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    z-index: 10;
    line-height: 1;
    color: #8B8B8B;
    fill: #8B8B8B;
    border: none;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 4px;
    background: transparent;
    background-color: #DFDFDF;

    svg {

        width: 14px;
        height: 14px;
    }

    &:hover {

        fill: #727272;
        color: #727272;
        border: none;
        background: transparent;
        background-color: #C1C1C1;
    }
}

#addonify-compare-modal {

    @include flex();
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: var(--adfy_compare_products_comparison_table_zindex);
    overflow: hidden;
    border-radius: 5px;
    @include boxShadow();

    &.addonify-compare-hidden {

        display: none;
    }

    .addonify-compare-model-inner  {

        @include flex();
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        height: 100%;
        width: 98vw; // Fallback.
        width: calc(100vw - 40px);
        max-width: 2048px; // Max: 2K - 40px
        overflow: hidden;
        border-radius: 5px;
        background-color: var(--adfy_compare_products_comparison_modal_bg_color);

        #addonify-compare-close-button {

            display: inline-flex; // Display the button on comparison table modal.
            color: var(--adfy_compare_products_comparison_modal_close_btn_icon_color);
            fill: var(--adfy_compare_products_comparison_modal_close_btn_icon_color);
            background-color: var(--adfy_compare_products_comparison_modal_close_btn_bg_color);
            z-index: var(--adfy_compare_products_comparison_table_zindex);

            &:hover, &:focus {

                color: var(--adfy_compare_products_comparison_modal_close_btn_icon_hover_color);
                fill: var(--adfy_compare_products_comparison_modal_close_btn_icon_hover_color);
                background-color: var(--adfy_compare_products_comparison_modal_close_btn_bg_hover_color);
            }
        }

        #addonify-compare-modal-content {

            position: relative;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            #addonify-compare-products-table-wrapper {

                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 100%;

                #addonify-compare-products-notice {

                    display: none;
                }
            }
        }
    }
}
