/* -------------------------------------------------------------------------- 
	Basic table style.
  -------------------------------------------------------------------------- */

#addonify-compare-products-table {

    display: table;
    table-layout: auto;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: var(--adfy_compare_products_comparison_modal_bg_color);

    &.addonify-compare-hidden {

        // Hide table if only 1 product exists in the compare list.
        display: none; 
    }

    th,
    td {

        padding: 15px 15px;
        text-align: left;
        vertical-align: top;
        color: var(--adfy_compare_products_comparison_modal_txt_color);
        border: none;
        background-color: transparent;
    }

    tr {

        td:not(:first-child) {

            border-bottom: 1px solid var(--adfy_compare_products_comparison_modal_border_color);
        }
    }

    th {
        color: var(--adfy_compare_products_comparison_modal_txt_color);
        background-color: var(--adfy_compare_products_comparison_modal_bg_color);
    }

    td {
        .price {

            display: inline-flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            font-size: 16px;
            color: var(--adfy_compare_products_comparison_modal_regular_price_color);
            font-weight: bold;
            margin-bottom: 0;

            ins {

                display: inline-flex;
                font-weight: bold;
                color: var(--adfy_compare_products_comparison_modal_sale_price_color);
                background: transparent;
                background-color: transparent;
            }

            del {

                display: inline-flex;
                margin-right: 5px;
                font-size: 13px;
                color: var(--adfy_compare_products_comparison_modal_regular_price_color);
                opacity: 0.8;
            }
        }

        .add_to_cart_inline {

            margin-bottom: 0;
        }

        .add_to_cart_button,
        .woocommerce .button,
        .woocommerce.add_to_cart_inline .add_to_cart_button {

            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0;
            padding: 15px 20px;
            font-weight: normal;
            line-height: 1;
            height: auto;
            width: auto;
            border-radius: 3px;
        }
    }

    td:not(:first-child)[class*="adfy-compare-products-td-field-in_stock"] {

        .stock {

            color: var(--adfy_compare_products_comparison_modal_out_of_stock_txt_color);

            &.in-stock {

                color: var(--adfy_compare_products_comparison_modal_in_stock_txt_color);
            }
        }
    }

    td:not(:first-child)[class*="adfy-compare-products-td-field-add_to_cart_button"] {

        .add_to_cart_button {

            fill: var(--adfy_compare_products_comparison_modal_add_to_cart_btn_label_color);
            color: var(--adfy_compare_products_comparison_modal_add_to_cart_btn_label_color);
            background: transparent;
            background-color: var(--adfy_compare_products_comparison_modal_add_to_cart_btn_bg_color);

            &:hover, :focus {

                fill: var(--adfy_compare_products_comparison_modal_add_to_cart_btn_label_hover_color);
                color: var(--adfy_compare_products_comparison_modal_add_to_cart_btn_label_hover_color);
                background: transparent;
                background-color: var(--adfy_compare_products_comparison_modal_add_to_cart_btn_bg_hover_color);
            }
        }
    }

    td:not(:first-child)[class*="adfy-compare-products-td-field-image"] {

        .adfy-compare-products-table-row-content {

            a {

                display: block;
                fill: transparent;
                color: transparent;

                img {

                    border-radius: 5px;
                }

                &:hover, &:focus {

                    color: transparent;
                    fill: transparent;
                    outline: 0;
                }
            }
        }
    }

    td:not(:first-child)[class*="adfy-compare-products-td-field-rating"] {

        .adfy-compare-products-table-row-content {

            @include flex();
            align-items: center;
            gap: 3px;

            .star-rating {

                float: none;
                margin: 0;
            }
        }
    }

    td:not(:first-child)[class*="adfy-compare-products-td-field-attribute"] {

        p {

            margin: 0;
        }
    }
}

/* -------------------------------------------------------------------------- 
	Table in modal.
  -------------------------------------------------------------------------- */

#addonify-compare-products-table-wrapper {

    @include breakpoint(ipadpro) {

        width: 100%;
        overflow-x: auto;
    }

    @include breakpoint(mobile) {

        padding: 20px 15px;
    }

    #addonify-compare-products-table {

        @include breakpoint(mobile) {

            display: block;
            width: 100%;
            border: none;
            margin: 0;
            padding: 0;
            overflow: auto;
        }

        tbody {

            @include breakpoint(mobile) {

                display: grid;
                grid-auto-columns: 1fr;
                grid-auto-flow: row;
                grid-row-gap: 20px;
            }

            tr {

                @include breakpoint(mobile) {

                    display: grid;
                    grid-auto-columns: 50%;
                    grid-auto-flow: column;
                    grid-column-gap: 20px;
                    border: none;
                    padding: 0;
                    margin: 0;
                }

                td {

                    @include breakpoint(mobile) {

                        @include flex();
                        align-items: center;
                        justify-content: flex-start;
                        border: none;
                        padding: 0;
                        margin: 0;

                        .star-rating {

                            float: none;
                            margin: 0;
                        }
                    }

                    .product-title-link {

                        display: inline-flex;
                        color: var(--adfy_compare_products_comparison_modal_link_color);
                        line-height: 1.3;

                        &:hover {

                            color: var(--adfy_compare_products_comparison_modal_link_hover_color);
                        }
                    }

                    .addonify-compare-table-remove-btn {

                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                        font-weight: normal;
                        height: 40px;
                        width: 40px;
                        padding: 0;
                        margin: 0;
                        line-height: 1;
                        cursor: pointer;
                        box-shadow: none;
                        appearance: none;
                        text-decoration: none;
                        fill: var(--adfy_compare_products_comparison_modal_remove_btn_label_color);
                        color: var(--adfy_compare_products_comparison_modal_remove_btn_label_color);
                        border-radius: 4px;
                        background: transparent;
                        background-color: var(--adfy_compare_products_comparison_modal_remove_btn_bg_color);
                        @include transitionDelay();

                        svg {

                            width: 18px;
                            height: 18px;
                        }

                        &:focus, &:hover {

                            fill: var(--adfy_compare_products_comparison_modal_remove_btn_label_hover_color);
                            color: var(--adfy_compare_products_comparison_modal_remove_btn_label_hover_color);
                            background-color: var(--adfy_compare_products_comparison_modal_remove_btn_bg_hover_color);  
                        }
                    }
                }
            }
        }
    }
}


/* -------------------------------------------------------------------------- 
	Resize the table header & hide it after certain breakpoint.
  -------------------------------------------------------------------------- */

#addonify-compare-products-table.has-header,
#addonify-compare-products-table-wrapper #addonify-compare-products-table.has-header {

    tbody {

        tr {

            td {

                &:first-child {

                    width: 200px;
                    color: var(--adfy_compare_products_comparison_modal_header_txt_color);
                    background-color: var(--adfy_compare_products_comparison_modal_header_bg_color);

                    // Resize width in "ipadpro" breakpoint.
                    @include breakpoint(ipadpro) {

                        width: 100px;
                    }

                    // Hide after medium breakpoint.
                    @include breakpoint(medium) {

                        display: none;
                    }
                }
            }
        }
    }
}