/* -------------------------------------------------------------------------- 
	Basic table style.
  -------------------------------------------------------------------------- */

#addonify-compare-products-table {

    display: table;
    table-layout: auto;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    overflow: auto;

    &.addonify-compare-hidden {

        display: none; // Hide table if only 1 product exists in the compare list.
    }

    // All td & th style.
    th,
    td {

        padding: 15px 15px;
        text-align: left;
        vertical-align: top;
        border-color: #F5F5F5;
    }

    th {

        background-color: #F5F5F5;
    }

    td {
        .price {

            display: inline-flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            font-size: 16px;
            color: #444444;
            font-weight: bold;
            margin-bottom: 0;

            ins {

                display: inline-flex;
                font-weight: bold;
                color: red;
                background-color: transparent;
            }

            del {

                display: inline-flex;
                margin-right: 5px;
                font-size: 13px;
                color: #444444;
                opacity: 0.8;
            }
        }

        .add_to_cart_inline {

            margin-bottom: 0;
        }

        .add_to_cart_button,
        .woocommerce .button,
        .woocommerce.add_to_cart_inline .add_to_cart_button {

            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0;
            padding: 15px 20px;
            font-weight: normal;
            line-height: 1;
            height: auto;
            width: auto;
            border-radius: 3px;
        }
    }

    td:not(:first-child)[class*="adfy-compare-td-field-image"] {

        .adfy-compare-table-row-content {

            a {

                display: block;

                img {

                    border-radius: 5px;
                }
            }
        }
    }

    td:not(:first-child)[class*="adfy-compare-td-field-rating"] {

        .adfy-compare-table-row-content {

            @include flex();
            align-items: center;
            gap: 3px;

            .star-rating {

                float: none;
                margin: 0;
            }
        }
    }

    td:not(:first-child)[class*="adfy-compare-td-field-attribute"] {

        p {

            margin: 0;
        }
    }

    // Tbody style.
    tbody {

        tr {

            td {

                &:first-child {

                    width: 200px;
                    background-color: whitesmoke;

                    // Resize width in ipadpro breakpoint.
                    @include breakpoint(ipadpro) {

                        width: 100px;
                    }

                    // Hide in medium breakpoint.
                    @include breakpoint(medium) {

                        display: none;
                    }
                }
            }
        }
    }
}

/* -------------------------------------------------------------------------- 
	Table in modal.
  -------------------------------------------------------------------------- */

#addonify-compare-products-table-wrapper {

    @include breakpoint(ipadpro) {

        width: 100%;
        overflow-x: auto;
    }

    @include breakpoint(mobile) {

        padding: 20px 15px;
    }

    #addonify-compare-products-table {

        @include breakpoint(mobile) {

            display: block;
            width: 100%;
            border: none;
            margin: 0;
            padding: 0;
            overflow: auto;
        }

        tbody {

            @include breakpoint(mobile) {

                display: grid;
                grid-auto-columns: 1fr;
                grid-auto-flow: row;
                grid-row-gap: 20px;
            }

            tr {

                @include breakpoint(mobile) {

                    display: grid;
                    grid-auto-columns: 50%;
                    grid-auto-flow: column;
                    grid-column-gap: 20px;
                    border: none;
                    padding: 0;
                    margin: 0;
                }

                td {

                    &:first-child {

                        @include breakpoint(medium) {

                            display: none;
                        }
                    }

                    @include breakpoint(mobile) {

                        @include flex();
                        align-items: center;
                        justify-content: flex-start;
                        border: none;
                        padding: 0;
                        margin: 0;

                        .star-rating {

                            float: none;
                            margin: 0;
                        }
                    }

                    .product-title-link {

                        display: inline-flex;
                        color: var(--adfy_compare_products_table_title_color);
                        line-height: 1.3;

                        &:hover {

                            color: var(--adfy_compare_products_table_title_color_hover);
                        }
                    }

                    .addonify-compare-table-remove-btn {

                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                        font-weight: normal;
                        height: 40px;
                        width: 40px;
                        padding: 0;
                        margin: 0;
                        line-height: 1;
                        cursor: pointer;
                        box-shadow: none;
                        appearance: none;
                        text-decoration: none;
                        fill: white;
                        color: white;
                        border-radius: 4px;
                        @include transitionDelay();

                        svg {

                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }

        &:not(.has-header) {

            .adfy-compare-table-head {

                display: none;
            }
        }
    }
}
