:root {

    // Button
    --adfy_compare_products_button_color: white;
    --adfy_compare_products_button_color_hover: white;
    --adfy_compare_products_button_bg_color: #444444;
    --adfy_compare_products_button_bg_color_hover: #3765FA;

    // Search Modal
    --adfy_compare_products_search_modal_overlay_bg_color: rgba(0, 0, 0, 0.8);
    --adfy_compare_products_search_modal_bg_color: white;
    --adfy_compare_products_search_modal_text_color: #444444;

    --adfy_compare_products_search_modal_add_button_color: #444444;
    --adfy_compare_products_search_modal_add_button_color_hover: #444444;
    --adfy_compare_products_search_modal_add_button_bg_color: #EEEEEE;
    --adfy_compare_products_search_modal_add_button_bg_color_hover: #D4D4D4;

    --adfy_compare_products_search_modal_close_button_color: rgba(255, 255, 255, 0.7);
    --adfy_compare_products_search_modal_close_button_color_hover: rgba(255, 255, 255, 1);
    --adfy_compare_products_search_modal_close_button_border_color: rgba(255, 255, 255, 0.3);
    --adfy_compare_products_search_modal_close_button_border_color_hover: rgba(255, 255, 255, 1);

    // Compare Dock
    --adfy_compare_products_dock_bg_color: #02030E;
    --adfy_compare_products_dock_text_color: rgba(255, 255, 255, 0.7);

    --adfy_compare_products_dock_add_button_color: white;
    --adfy_compare_products_dock_add_button_color_hover: white;
    --adfy_compare_products_dock_add_button_bg_color: #343434;
    --adfy_compare_products_dock_add_button_bg_color_hover: #3765FA;

    --adfy_compare_products_dock_compare_button_color: #444444;
    --adfy_compare_products_dock_compare_button_color_hover: white;
    --adfy_compare_products_dock_compare_button_bg_color: white;
    --adfy_compare_products_dock_compare_button_bg_color_hover: #3765FA;

    // Table
    --adfy_compare_products_table_title_color: #444444;
    --adfy_compare_products_table_title_color_hover: #3765FA;

    // Height
    --adfy_compare_products_thumbnail_height: 42px;

    // zindex
    --adfy_compare_products_dock_zindex: 10000000000000;
    --adfy_compare_products_search_modal_zindex: 10000000000010;
    --adfy_compare_products_search_modal_overlay_zindex: calc( var(--adfy_compare_products_search_modal_zindex) - 5 );
    --adfy_compare_products_comparision_table_zindex: calc( var(--adfy_compare_products_search_modal_zindex) + 100 );
}