// define few variables 

$bck_color: rgb(41, 42, 48);
$padding: 15px;
$thumbnail_height : 42px;

:root {

    --adfy_compare_products_text_color: #444444;

    // Thumbnail height
    --adfy_compare_products_thumbnail_height: 42px;
}